main{
    min-height: 85vh;
    
}
.navbar{
    background: black;
    font-family: 'PT Serif', serif;
    
}
.nav-link{
    color: #fff !important;
}
/* Page index 'qui suis-je? */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

.img{/* Titre de la page index */
    vertical-align: middle;
    height: 25vh;
    width: 100%;
}

.rounded {
    border-radius: 10.25rem !important;
    width: 200px;
    height: 200px;
    margin-top: 10%;
    box-shadow: black 17px 9px 41px 10px;
}

.h1index{
    color: wheat;
    background-image: url(../img/jumbotron4.png);
    height: 20%;
    border-radius: 20px 20px 20px 20px;
    fill: #35322a;
    filter: url('#money');
    font-family: 'Playfair Display', 'Georgia', serif;
}

.imgPresentation{
    width: 40%;
}

.presentation1{
    width: 50%;
}

.presentation{
    width: 100%;
    font-size: 22px;  
    margin-top: 5px;
    font: 22px/1.25 'Playfair Display', 'Georgia', serif;
}

.form{
    font-size: 150%;
    box-shadow: black 0px -8px 15px;
    margin-bottom: 16px;
    margin-top: 85px;
    border-radius: 20px 20px 0px 0px;
}

.container-fluid{
    padding: 5px;
}

.jumbotron{
    background-image: url(../img/jumbotron4.png);
    color: wheat;
    height: 220px;
    padding-top: 1px;
}

.formulaire{
    font-family: 'Roboto Slab', serif;
    width: 92%;
    background-image: url(../img/jumbotron4.png);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: wheat;
}

.formulaireContact{
    font-family: 'Roboto Slab', serif;
    width: 92%;
    background-image: url(../img/jumbotron4.png);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: wheat;
    margin-bottom: 3%;
    margin-top: 3%;
}

textarea.form-control {
    height: auto;
    width: 75%;
    margin: 0 auto;
}

.reseaux{
    letter-spacing: 3px;
    font-size: 40px;
}

.pIndex{
    font-family: 'PT Serif', serif;
    text-shadow: black 5px;
    text-shadow: black 0px 0px;
    width: 94%;
    margin: 0 auto;
}

p{
    font-family: 'PT Serif', serif;
    text-shadow: black 5px;
    text-shadow: black 0px 0px;
}

footer p{
    font-family: 'Cinzel', serif;
    
}

h1{
    font-family: 'Fredericka the Great', cursive;
}

h2{
    color: orange;
    font-family: 'Cinzel', serif;
}

.table{
    width: 60%;
    font-size: 15px;
    font-family: 'Cinzel', serif;
}

main{
    min-height: 100vh;
    
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-top-color: rgb(50, 56, 62);
    text-align: center;
    background-image: url(../img/jumbotron4.png);
}

/* page loisir */
.l{
    width: 100%;/* Pour la taille du tableau loisir */
}




/* page formation */
.card-header:first-child {
    border-radius: calc(5.25rem - 33px) calc(5.25rem - 33px) 0 0;
}
.card-header{
    background-image: url(../img/jumbotron4.png);
    font-family: 'Cinzel', serif;
}

.ml-5, .mx-5 {
    margin-left: 8rem !important;
}

.cardForm{
    background: content-box radial-gradient( wheat, lightgrey);
    border-radius: 20px;
    width: 100%;
}

/* Page compentences.php */
.icon{
    font-size: 50px;
    letter-spacing: 20px;
}

*, :before, :after { box-sizing: border-box; }

body {
  color: black;
  font: 18px/1.25 'Raleway', sans-serif;
  margin: 0;
  
}

.rowcomp {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  padding: 1em;
}

section { text-align: center; }


.arrow {
  border: 2em solid transparent;
  height: 0;
  margin: 50vh auto;
  width: 0;
}

.arrow.down {
  border-bottom: none;
  border-top-color: #e5e5e5;
}
.arrow.up {
    border-bottom-color: #e5e5e5;
    border-top: none;
}
/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress text {
  fill: black;
  font-family: 'Cinzel', serif;
  text-anchor: middle;
  text-shadow: #c64100 1px 1px;
}

svg.radial-progress circle {
    fill: wheat;
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10;
    height: 5%;

}

/*** COLORS ***/
svg.radial-progress:nth-of-type(6n+1) circle { stroke : rgb(253, 87, 26); }

/* Halo lumineux */
.light div {
	position: relative;
}
.light div::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: #f480337e;
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.light div:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
/* FOOTER */
footer{
    background: black;
    color: wheat;
}















