
.navbar{
    background: black;
    font-family: 'Cinzel', serif;
    
}
.nav-link{
    color: #fff !important;
}
/* Page index 'qui suis-je? */
.rounded {
    border-radius: 10.25rem !important;
    width: 200px;
    height: 200px;
}

.presentation{
    width: 100%;
    margin-left:-6%; 
    font-size: 20px;  
}
.form{
    font-size: 250%;
}

.container-fluid{
    padding: 5px;
}

.jumbotron{
    background-image: url(../img/jumbotron4.png);
    color: wheat;
    height: 270px;
}

.formulaire{
    font-family: 'Roboto Slab', serif;
    width: 50%;
    background-image: url(../img/jumbotron4.png);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: wheat;
}

footer{
    background: black;
    color: wheat;
}

.reseaux{
    letter-spacing: 3px;
    font-size: 40px;
}
p{
    font-family: 'Cinzel', serif;
}

h1{
    font-family: 'Fredericka the Great', cursive;
}

h2{
    color: orange;
    font-family: 'Cinzel', serif;
}

.table{
    width: 60%;
    font-size: 15px;
    font-family: 'Cinzel', serif;
}

main{
    min-height: 100vh;
    
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-top-color: rgb(50, 56, 62);
    text-align: center;
    background-image: url(../img/jumbotron4.png);
}

/* page loisir */
.l{
    width: 100%;/* Pour la taille du tableau loisir */
}

.row {
    margin-right: 135px;
margin-left: 125px;
}

/* page formation */
.card-header:first-child {
    border-radius: calc(5.25rem - 1px) calc(5.25rem - 1px) 0 0;
}
.card-header{
    background-image: url(../img/jumbotron4.png);
    font-family: 'Cinzel', serif;
}

.ml-5, .mx-5 {
    margin-left: 8rem !important;
}

.cardForm{
    background: content-box radial-gradient( wheat, lightgrey);
    border-radius: 50px 50px 50px 50px;
}

/* Page compentences.php */
.icon{
    font-size: 50px;
    letter-spacing: 20px;
}












