
.navbar{
    background: black;
    font-family: 'Cinzel', serif;
    
}
.nav-link{
    color: #fff !important;
}
/* Page index 'qui suis-je? */
.rounded {
    border-radius: 10.25rem !important;
    width: 200px;
    height: 200px;
    margin-top: 14%;
    box-shadow: black 17px 9px 41px 10px;
}

.h1index{
    color: wheat;
    background-image: url(../img/jumbotron4.png);
    height: 45px;
    border-radius: 20px 20px 20px 20px;
}

.presentation{
    width: 100%;
    margin-left:-6%; 
    font-size: 20px;  
    margin-top: 6px
}
.form{
    font-size: 250%;
    box-shadow: black 2px 17px 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 0px 0px 20px 20px;
}

.container-fluid{
    padding: 5px;
}

.jumbotron{
    background-image: url(../img/jumbotron4.png);
    color: wheat;
    height: 288px;
    padding-top: 1px;
}

.formulaire{
    font-family: 'Roboto Slab', serif;
    width: 50%;
    background-image: url(../img/jumbotron4.png);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: wheat;
}

footer{
    background: black;
    color: wheat;
}

.reseaux{
    letter-spacing: 3px;
    font-size: 40px;
}
p{
    font-family: 'Fredericka the Great', cursive;
    text-shadow: black 5px;
    text-shadow: black 0px 0px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
}

h2{
    color: orange;
    font-family: 'Cinzel', serif;
}

.table{
    width: 60%;
    font-size: 15px;
    font-family: 'Cinzel', serif;
}

main{
    min-height: 100vh;
    
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-top-color: rgb(50, 56, 62);
    text-align: center;
    background-image: url(../img/jumbotron4.png);
}

/* page loisir */
.l{
    width: 100%;/* Pour la taille du tableau loisir */
}

.row {
    margin-right: 135px;
    margin-left: 125px;
}

/* page formation */
.card-header:first-child {
    border-radius: calc(5.25rem - 33px) calc(5.25rem - 33px) 0 0;
}
.card-header{
    background-image: url(../img/jumbotron4.png);
    font-family: 'Cinzel', serif;
}

.ml-5, .mx-5 {
    margin-left: 8rem !important;
}

.cardForm{
    background: content-box radial-gradient( wheat, lightgrey);
    border-radius: 20px;
    width: 50%;
}

/* Page compentences.php */
.icon{
    font-size: 50px;
    letter-spacing: 20px;
}

*, :before, :after { box-sizing: border-box; }

body {
  color: black;
  font: 16px/1.25 'Raleway', sans-serif;
  margin: 0;
  
}

.rowcomp {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  padding: 1em;
}

section { text-align: center; }


.arrow {
  border: 2em solid transparent;
  height: 0;
  margin: 50vh auto;
  width: 0;
}

.arrow.down {
  border-bottom: none;
  border-top-color: #e5e5e5;
}
.arrow.up {
    border-bottom-color: #e5e5e5;
    border-top: none;
}
/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; /* Circumference */ }

svg.radial-progress text {
  fill: black;
  font-family: 'Cinzel', serif;
  text-anchor: middle;
  text-shadow: #c64100 1px 1px;
}

svg.radial-progress circle {
    fill: wheat;
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10;
    height: 5%;

}

/*** COLORS ***/
/* Primary */

svg.radial-progress:nth-of-type(6n+1) circle { stroke : rgb(253, 87, 26); }




@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');


svg:not(:root) {
    overflow: hidden;
    width: 100%;
}

text {
  fill: #35322a;
  filter: url('#money');
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 100px;
  font-weight: 900;
}

html {
  align-items: center;
  background: #ebe7e0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 600px;
}







