
.navbar{
    background: black;
    font-family: 'Cinzel', serif;
    
}
.nav-link{
    color: #fff !important;
}

.container-fluid{
    padding: 5px;
}

.jumbotron{
    background-image: url(../img/jumbotron4.png);
    color: wheat;
}

.formulaire{
    font-family: 'Roboto Slab', serif;
    width: 50%;
    background-image: url(../img/jumbotron4.png);
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    color: wheat;
}

footer{
    background: black;
    color: wheat;
}

.reseaux{
    letter-spacing: 3px;
    font-size: 40px;
}
p{
    font-family: 'Cinzel', serif;
}

h1{
    font-family: 'Diplomata', cursive;
}

h2{
    
    font-family: 'Cinzel', serif;
}

.table{
    width: 60%;
    font-size: 15px;
    font-family: 'Cinzel', serif;
}

main{
    min-height: 100vh;
    
}

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    border-top-color: rgb(50, 56, 62);
    text-align: center;
    background-image: url(../img/jumbotron4.png);
}



/* page loisir */
.l{
    width: 100%;/* Pour la taille du tableau loisir */
}

.row {
    margin-right: 50px;
    margin-left: 50px;
}

/* page formation */
.card-header{
    background-image: url(../img/jumbotron4.png);
    font-family: 'Cinzel', serif;
}

.ml-5, .mx-5 {
    margin-left: 8rem !important;
}




