/* style test pour la page test.php */
body{
    border: 10px groove black;
    margin: 0 auto;
    width: 1200px;
    padding: 5px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.td{
    color: white;
}
.a{
    color: blue;
}

.table-bordered{
    background: grey;
    text-align: center;
    margin: 0 auto;
}

.formulaire{
    width: 50%;
    background: grey;
    margin: 0 auto;
    padding: 20px;
    padding-top: 5px;
}