
.navbar{
    background: rgb(21, 96, 235);
}

.container-fluid{
    padding: 5px;
}

.formulaire{
    width: 50%;
    background: grey;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
   
}
footer{
    background: rgb(21, 96, 235);
    color: wheat;
}


/* style test pour la page loisirs.php */
.table{
    width: 60%;
}

